extends layout

block content
    br
    br
    .alert.alert-danger(role='alert') The article you tried to delete does not exist.
        h1.display-1 :(
        br
        br
        a.alert-link(href='/')  
            i.fa.fa-home