extends layout

block content
    br
    a.btn.btn-warning.float-right(href="/logout") Log out
    a.btn.btn-primary.float-left(href="/") < Homepage
    br
    br
    br
    h3 Edit
    br
    form#content-form(action='', method='post' class="form-registration")
        .form-row
        .form-group.col-md-4
            input#title.form-control(type="text", name="title", value= data.title, required)
            br
            textarea#summary(contenteditable='', rows="4", cols="135", name="summary", required)= data.summary
            br
            textarea#content(contenteditable='', rows="12", cols="135", name="content", required)= data.content
                
        button.btn.btn-primary.float-right(type='submit') Submit