doctype html
html
    head
        title= `${title}`
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(charset="UTF-8")
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(href="./css/froala_style.min.css" rel="stylesheet" type="text/css")
        link(href='https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/css/froala_editor.pkgd.min.css', rel='stylesheet', type='text/css')
        script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/js/froala_editor.pkgd.min.js')
        style.
            body {background-color: white;}
    body
        div.container

            block content