extends layout

block content
    .jumbotron.text-center
        h1.display-3.text-center= data.title
        br
        a.btn.btn-secondary.float-left(href='/', style='margin-right:20px;')  < Homepage 
            i.fa.fa-home
        p.float-right= `Written at: ${data.date_established}`
    br
    blockquote.blockquote
        p.mb-0!= data.content
        footer.blockquote-footer= data.author
    br