extends layout

block content
    br
    h1 Sign up
    br
    a.badge.badge-primary(href='/') < Back to sign in
    br
    br
    .alert.alert-warning(role='alert') This username is in use. Please choose another one.
    form#registration-form(action='', method='post' class="form-registration")
        .form-row
        .form-group.col-md-4
            input#newusername.form-control(type="text", name="newusername", placeholder="user name", required)
            br
            input#newpassword.form-control(type='password', name='newpassword', placeholder='password', required)
            br
        button.btn.btn-primary.float-left(type='submit') Register